/* Individual tab styles */

@font-face
{
 font-family: FiraRegular1;
 src: url(/fonts/firasans-master/FiraSans-Regular.otf);
}


/*****************************/
/* Moving Line  sirve ----------------------------------------------------------------------------------------------------------*/
/*****************************/

.tabs-style-linemove nav {
    border-bottom: 8px;
    border-bottom-color: #900;
}

.tabs-style-linemove nav li:last-child::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* Move the line   sirve -----------------------------------------------------------------------------------------------------------*/
.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-200%,0,0);
	transform: translate3d(-200%,0,0);
}

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}


.tabs-style-linemove nav a {
	padding: 1em 0;
	color: #000;
	line-height: 1;
    text-decoration:none;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}



.tabs-style-linemove nav a span {
}

/*****************************--------------------------------------------------------------------------------------------------------------/
/* Line */
/*****************************/


